.activities {
    display: none;
    padding-top: 0;

    @include for-desktop-up {
        display: block;
    }

    &__list {
        display: flex;
}

    &__item + &__item {
        margin-left: 30px;
    }
}