.advantages__list {
    @include for-tablet-up {
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            row-gap: 57px;
            column-gap: 30px;
        }
    }
    
    @include for-desktop-up {
        @media screen and (min-width: 1200px) {
            display: flex;
            flex-wrap: nowrap;
            row-gap: 0;
            column-gap: 0;
        }
    }
}