.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--hero-modal-backdrop-color);

    opacity: 1;
    transition-property: opacity, visibility;
    transition-timing-function: var(--timing-function);
    transition-duration: var(--duration);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    min-width: 528px;
    max-height: 581px;
    height: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: var(--primary-bcg-color);

    transform: translate(-50%, -50%) scale(1);

    transition-property: transform;
    transition-timing-function: var(--timing-function);
    transition-duration: var(--duration);
}

.backdrop.is-hidden {
    .modal {
        transform: translate(-50%, -50%) scale(1.2);
    }
}