.clients__list {
    @media screen and (min-width: 320px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    @include for-desktop-up {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.clients__item {
    @media screen and (max-width: 767px) {
        flex-basis: calc((100% - 30px)/2);
    }

    @include for-tablet-up {
        flex-basis: calc((100% - 30px*2)/3);
    }

    @include for-desktop-up {
        flex-basis: calc((100% - 30px*5)/6);

        &:not(:first-child) {
            margin-left: 30px;
        }
    }
}