.portfolio__filter {
    margin-bottom: 40px;

    display: flex;

    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        row-gap: 15px;
        justify-content: start;
    }

    @include for-tablet-up {
        margin-bottom: 30px;
    }

    @include for-desktop-up {
        margin-bottom: 50px;
    }

    justify-content: center;
}

.portfolio__filter-item:not(:last-child) {
    margin-right: 8px;
}

.portfolio__works {
    @include for-tablet-up {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}

.portfolio__works-item {
    display: flex;
    justify-content: center;
    flex-basis: 100%;

    @media screen and (max-width: 767px) {
        &+& {
            margin-top: 30px;
        };
    }

    @include for-tablet-up {
        flex-basis: calc((100% - 30px)/2);
    }

    @include for-desktop-up {
        flex-basis: calc((100% - 2*30px)/3);
    }
}