.team {
    background-color: var(--team-bcg-color);

    &__list {
        @include for-tablet-up {
            display: flex;
        }
    
        @media screen and (max-width: 1199px) {
            flex-wrap: wrap;
            gap: 30px;
        }
    }   
}