.header {
    @media screen and (max-width: 767px) {
        position: relative;
        display: flex;
        align-items: center;
        height: 60px;
    }

    @include for-tablet-up {
        height: 80px;
    }
    
    border-bottom: 1px solid var(--header-border-color);
}