.page-footer {
    &__title {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--footer-white-text-color);
    }

    @media screen and (max-width: 767px) {
        &__address-nav {
                margin-bottom: 60px;
        }
    }

    @media screen and (max-width: 1199px) {
        text-align: center;

        &__info {
            margin-bottom: 60px;
        }
    }

    &__logo {
        display: block;
        margin-bottom: 20px;
    }

    @include for-tablet-up {
        &__info {
            display: flex;
            justify-content: space-around;
            align-items: baseline;
        }
    }

    @include for-desktop-up {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        
        &__connect {
            margin-left: 70px;
            width: 206px;
        }
    }
}