.section {
    padding-top: 60px;
    padding-bottom: 60px;

    &__title {
        margin-bottom: 30px;
    
        font-size: 28px;
        line-height: 1.17;
        text-align: center;
        color: var(--title-text-color);
    }

    @include for-desktop-up {
        padding-top: 94px;
        padding-bottom: 94px;

        &__title {
            margin-bottom: 50px;

            font-size: 36px;
            line-height: 1.17;
            text-align: center;
            color: var(--title-text-color);
        }
    }
}