.subscribe-form {
    display: flex;
    align-items: center;


    &__input {
        padding: 15px 16px;
        margin-right: 12px;
        font-size: 16px;
        line-height: 1.25;
        color: var(--footer-input-placeholder-color);
        background-color: transparent;
        border: 1px solid var(--footer-input-border-color);
        border-radius: 4px;
        width: 358px;
        height: 50px;
        cursor: pointer;

        transition-property: border;
        transition-timing-function: var(--timing-function);
        transition-duration: var(--duration);
    }

    &__input:focus-within {
        outline: none;
        border: 1px solid var(--accent-color);
        color: var(--footer-input-color);
    }

    &__button {
        @extend %flex--centered;
    }

    &__icon {
        margin-left: 10px;
        width: 24px;
        height: 24px;

        fill: currentColor;
    }
}